@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-outfit: Outfit, sans-serif;

  /* Breakpoints */
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Font Sizes */
  --text-title-md: 36px;
  --text-theme-sm: 14px;
  --text-theme-xs: 12px;

  /* Basic Colors */
  --color-white: #ffffff;
  --color-black: #101828;

  --color-brand-50: #ecf3ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  /* Shadows */
  --shadow-theme-md: 0px 4px 8px rgba(16, 24, 40, 0.1);
  --shadow-theme-sm: 0px 1px 2px rgba(16, 24, 40, 0.06);
}

/* Base setup */
@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--color-gray-200);
  }

  body {
    @apply font-outfit text-gray-800 bg-gray-50;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Dashboard menu items */
@utility menu-item {
  @apply flex items-center gap-3 w-full px-3 py-2 rounded-lg font-medium text-theme-sm;
}

@utility menu-item-active {
  @apply bg-brand-50 text-brand-500;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100;
}

@utility menu-item-icon {
  @apply text-gray-500;
}

@utility menu-item-icon-active {
  @apply text-brand-500;
}

/* Scrollbar */
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
  }
}

/* Remove date/time picker icons */
@layer utilities {
  input[type="date"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

